<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/create-account.css">
	<title>Crie sua conta</title>
</head>
<body>
	<form action="/login" method="post" onkeydown="EnterKeyFilter()" id="form">
		<div class="center">
			<h2>Crie uma nova conta</h2>
			<input autocomplete="off" type="email" name="emailNewUser" placeholder="Seu email..." required>
			<input autocomplete="off" type="text" name="username" placeholder="Seu nome completo..." required>
			<input autocomplete="off" type="password" maxlength="20" minlength="8" name="primeiraSenha" placeholder="Sua senha..." required>
			<img name="show-first-password" src="/static/images/icons/olho-aberto.png" />
			<p class="informar-caractere">A senha tem que conter no minímo 8 caracteres e no máximo 20 caracteres</p>
			<input autocomplete="off" type="password" maxlength="20" minlength="8" name="confirmarSenha" placeholder="Confirme sua senha..." required>
			<img name="show-second-password" src="/static/images/icons/olho-aberto.png" />
			<div class="erro-senha"><p></p></div>
			<label for="idade">Idade</label>
			<input type="number" name="idade" min="0" max="300" placeholder="Sua idade..." required>
			<div class="erro-idade"><p></p></div>
			<button type="submit" name="criarConta" onsubmit="return false">Criar conta</button>
			<p>Já tem uma conta? <a href="/login">Inscreva-se</a></p>
		</div>
	</form>
	<script src="/static/js/auth.js"></script>
	<script>
		const showFirstPasswd = document.querySelector('img[name=show-first-password]');
		const firstPasswdInput = document.querySelector('input[name=primeiraSenha]');
		const secondPasswdInput = document.querySelector('input[name=confirmarSenha]');
		const showSecondPasswd = document.querySelector('img[name=show-second-password]');

		showFirstPasswd.addEventListener('click', ()=>{	
			showFirstPasswd.classList.toggle('show');
			if(showFirstPasswd.classList.contains('show')){
				//mudar input para texto
				showFirstPasswd.src = "/static/images/icons/olho-fechado.png";
				firstPasswdInput.type = "text";
			}else{
				//mudar input para password
				showFirstPasswd.src = "/static/images/icons/olho-aberto.png";
				firstPasswdInput.type = "password";
			}
		})

		showSecondPasswd.addEventListener('click',()=>{
			showSecondPasswd.classList.toggle('show');
			if(showSecondPasswd.classList.contains('show')){
				//mudar input para texto
				showSecondPasswd.src = "/static/images/icons/olho-fechado.png";
				secondPasswdInput.type = "text";
			}else{
				//mudar input para password
				showSecondPasswd.src = "/static/images/icons/olho-aberto.png";
				secondPasswdInput.type = "password";
			}
		})
	</script>
</body>
</html>