<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/create-account.css">
	<title>Crie sua conta</title>
</head>
<body>
	<form action="/login" method="post" onkeydown="EnterKeyFilter()">
		<div class="center">
			<h2>Crie uma nova conta</h2>
			<input autocomplete="off" type="email" name="emailNewUser" placeholder="Seu email..." required>
			<input autocomplete="off" type="text" name="nameUser" placeholder="Seu nome completo..." required>
			<input autocomplete="off" type="password" name="primeiraSenha" placeholder="Sua senha..." required>
			<input autocomplete="off" type="password" name="confirmarSenha" placeholder="Confirme sua senha..." required>
			<div class="erro-senha"><p></p></div>
			<label for="idade">Idade</label>
			<input type="number" name="idade" placeholder="Sua idade..." required>
			<div class="erro-idade"><p></p></div>
			<button type="submit" name="criarConta">Criar conta</button>
			<p>Já tem uma conta? <a href="/login">Inscreva-se</a></p>
		</div>
	</form>
	<script src="/static/js/auth.js"></script>
</body>
</html>