<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>E-commerce</title>
</head>
<body>
    <header class="header">
        <div class="center">
            <div class="logomarca left"><a href="/">Logo</a></div>
            <nav class="links-menu-desktop right">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="carrinho.html">Meu carrinho</a></li>
                    <li><a href="login.html">Entre na sua conta</a></li>
                    <li><a href="sobre.html">Sobre</a></li>
                    <li><a href="suporte.html">Suporte</a></li>
                </ul>
            </nav><!-- links-menu-desktop -->
            <nav class="links-menu-mobile right">
                <div class="btn-menu-mobile">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="carrinho.html"><i class="fa fa-shopping-cart"></i>Meu carrinho</a></li>
                    <li><a href="login.html">Entre na sua conta</a></li>
                    <li><a href="sobre.html">Sobre</a></li>
                    <li><a href="suporte.html">Suporte</a></li>
                </ul>
            </nav>
            <div class="clear"></div>
        </div><!-- center -->
    </header><!-- header -->

    <section class="tipos-roupas">
        <div class="center">
            <div class="btn-loja">
                <ul>
                    <li>
                        <p>Camisas</p>
                    </li>
                    <li>
                        <p>Moletons</p>
                    </li>
                    <li>
                        <p>Calças</p>
                    </li>
                </ul>
            </div><!-- btn-loja -->
        </div><!-- center -->
    </section><!-- tipos-roupas -->

    <section class="mostruario">
        <div class="center">
            <h2>Produtos</h2>
            <div class="itens-loja">
                <div class="item-single w33">
                    <a href="compra.html">
                        <img class="camisa" src="/static/images/camisa/camisa-1.jpg">
                    </a>
                    <p>Camisa polo</p>
                    <p>R$59,90</p>        
                </div><!-- item-single -->
                <div class="item-single w33">
                    <a href="compra.html">
                        <img class="camisa" src="/static/images/camisa/camisa-2.jpg">
                    </a>
                    <p>Camisa Lacoste</p>
                    <p>R$69,99</p>
                </div><!-- item-single -->
                <div class="item-single w33">
                    <a href="compra.html">
                        <img class="camisa" src="/static/images/camisa/camisa-3.jpg">
                    </a>
                    <p>Camisa NBA</p>
                    <p>R$79,99</p>
                    <br>      
                </div><!-- item-single -->
                <div class="item-single w33">
                    <a href="compra.html">
                        <img class="moletom" src="/static/images/moletom/moletom-1.jpg">
                    </a>
                    <p>Moletom volcom</p>
                    <p>R$89,90</p>
                </div><!-- item-single -->
                <div class="item-single w33">
                    <a href="compra.html">
                        <img class="moletom" src="/static/images/moletom/moletom-2.jpg">
                    </a>
                    <p>Moletom canguru</p>
                    <p>R$79,90</p>
                </div><!-- item-single -->
                <div class="item-single w33">
                    <a href="compra.html">
                        <img class="moletom" src="/static/images/moletom/moletom-3.jpg">
                    </a>
                    <p>Moletom adidas</p>
                    <p>R$119,90</p>
                <br>
                </div><!-- item-single -->
                <div class="item-single w33">
                    <a href="compra.html">
                        <img class="calca" src="/static/images/calca/calca-1.jpg">
                    </a>
                    <p>Calça rasgada</p>
                    <p>R$99,90</p>
                </div><!-- item-single -->
                <div class="item-single w33">
                    <a href="compra.html">
                        <img class="calca" src="/static/images/calca/calca-2.jpg">
                    </a>
                    <p>Calça moletom</p>
                    <p>R$59,90</p>
                </div><!-- item-single -->
                <div class="item-single w33">
                    <a href="compra.html">
                        <img class="calca" src="/static/images/calca/calca-3.jpg">
                    </a>
                    <p>Calça esportiva</p>
                    <p>R$79,90</p>
                </div> <!-- item-single -->
                <br>
            </div><!--itens-loja-->
        </div><!--center-->
    </section><!--mostruario-->

    <footer style="break-after: always;">
        <button class="voltar-inicio">Voltar para o início</button><span>Todos os direitos reservados</span>
    </footer>

    <script src="/static/script.js"></script>

</body>
</html>