<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/login.css">
	<title>Login Marketplace</title>
</head>
<body>
	<form method="post" action="/">
		<div class="center">	
			<h2>Logomarca</h2>
			<h3>Entrar no Marketplace</h3>		
			<input autocomplete="off" name="emailUser" type="email" placeholder="Seu email..." required>
			<div></div>
			<input autocomplete="off" name="senha" type="password" minlength="8" maxlength="20" placeholder="Sua senha..." required>
			<img name="show-password-login" src="/static/images/icons/olho-aberto.png" />
			<div></div>
			<button name="entrar" type="submit" formaction="/">Entrar</button>
			<div></div>
			<p>Não possui uma conta? <a href="/create-account"> Inscreva-se</a></p>
		</div>
	</form>

	<script src="/static/js/login.js"></script>
</body>
</html>