<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/login.css">
	<title>Login Marketplace</title>
</head>
<body>
	<form>
		<div class="center">	
			<h2>Logomarca</h2>
			<h3>Entrar no Marketplace</h3>		
			<input autocomplete="off" type="email" placeholder="Seu email..." required>
			<div></div>
			<input autocomplete="off" type="password" placeholder="Sua senha..." required>
			<div></div>
			<button name="entrar" type="submit" formaction="index.html">Entrar</button>
			<div></div>
			<button name="criar" type="submit" formaction="criar-conta.html">Criar nova conta</button>
		</div>
	</form>

	<script src="/static/script.js"></script>
</body>
</html>