*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	background-color: #707070;
    font-family: 'Lato', sans-serif;
}

form{
	width: 55vw;
	height: 90vh;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background-color: #fff;
	display: flex;
	flex-direction: column;
	border-radius: 16px;
	box-shadow: 0px 0px 25px 7px #5ff;
}

form h2{
	text-align: center;
	margin: 15px 0;
}

form h3{
	margin: 26px 0 15px 0;
	width: 35vw;
}

form input{
	width: 35vw;
	margin: 10px 0;
	height: 8vh;
	border-radius: 10px;
	border: 1px solid #ccc;
	outline: none;
	font-weight: 300;
	font-size: 17px;
}

form input::placeholder{
	font-size: 17px;
	font-weight: 300;
	color: #555;
	padding-left: 2px;
}

form label{
	display: block;
	color: #555;
	font-weight: 300;
	margin-top: 5px;
}

form button{
	width: 35vw;
	height: 6.5vh;
	margin: 10px;
	background-color: black;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	border: 0;
	border-radius: 30px;
	cursor: pointer;
	text-align: center;
}

form p{
	color: #444;
	font-size: 16px;
	font-weight: 300;
	margin-top: 15px;
}

form a{
	text-decoration: none;
	padding-left: 2px;
	color: #389f9f;
}

.center{
    max-width: 40vw;
    padding: 0 2%;
    margin: 0 auto;
}

label{
	color: #606770;
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	margin-bottom: 4px;
}

select{
	width: 31%;
	font-size: 15px;
	height: 36px;
	line-height: 20px;
	padding: 0 8px;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-size: 15px;
	background-position: right 5px center;
}