*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
    background-color: #151515;
    font-family: 'Lato', sans-serif;
}

.center{
    max-width: 1200px;
    padding: 0 2%;
    margin: 0 auto;
}

.left{
    float: left;
}

.right{
    float: right;
}

.w33{
    width: 33%;
    padding: 0 10px;
}

.clear{
    clear: both;
}

header{
    width: 100%;
    background-color: #353535;
    height: 45px;
}

header .logomarca{
    margin-left: 15px;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 700;
}

header .logomarca a{
    text-decoration: none;
    color: #eee;
}

.links-menu-desktop ul{
    position: relative;
    list-style-type: none;
    margin: 10px;
}

.links-menu-desktop li{
    display: inline-block;
    font-size: 17px;
    font-weight: 300;
    padding: 0 8px;
}

.links-menu-desktop a{
    text-decoration: none;
    color: #fff;
}

.links-menu-desktop li:hover{
    font-size: 18.5px;
    font-weight: bold;
}

.links-menu-desktop a:hover{
    transition-duration: .4s;
    transition: .4s;
    border-bottom: 2px solid yellow;
}

.links-menu-mobile{
    display: none;
}

section.tipos-roupas{
    background-color: #151515;
    color: #eee;
    height: 60px;
    width: 100%;
}

section.tipos-roupas .btn-loja ul{
    display: flex;
    justify-content: center;
    position: relative;
    list-style-type: none;
    margin: 10px;
    text-align: center;
}

section.tipos-roupas .btn-loja li{
    display: inline-block;
    font-size: 21px;
    font-weight: 400;
    padding: 0 8px;
    margin:  10px 50px;
}

section.tipos-roupas .btn-loja li p{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    font-weight: 400;
}

section.mostruario{
    background-color: #858585;
    padding-bottom: 40px;
}

section.mostruario h2{
    font-size: 30px;
    font-weight: 700;
    padding-top: 20px;
    color: #eee;
}

section.mostruario .itens-loja{
    display: flex;
    flex-wrap: wrap;
}

div.item-single .camisa{
    margin-top: 25px;
}

div.item-single p{
    display: block;
    font-weight: 400;
    font-size: 17px;
    color: #f8f8ff;
}

img{
    height: 280px;
    width: 20vw;
    border-radius: 20px;
}

footer{
    height: 80px;
    background-color: #151515;
    color: #eee;
    text-align: center;
}


footer button.voltar-inicio{
    height: 20px;
    height: 20px;
    background-color: #aaa;
    border: none;
    border-radius: 10px;
    margin-right: 15px;
    padding: 0 10px;
    cursor: pointer;
}

footer span{
    font-size: 15px;
    font-weight: 300;
    margin: 10px 15px;
}

footer span,
footer.voltar-inicio{
    display: inline-block;
    margin-top: 35px;
}