*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
    background-color: #151515;
    font-family: 'Lato', sans-serif;
}

.center{
    max-width: 1150px;
    padding: 0 2%;
    margin: 0 auto;
}

.left{
    float: left;
}

.right{
    float: right;
}

.w33{
    width: 33%;
    padding: 0 10px;
}

.clear{
    clear: both;
}

a{
    text-decoration: none;
}

header{
    background-color: #353535;
    padding: 10px 2%;
    height: 65px;
}

header .logomarca{
    margin-left: 15px;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 700;
}

header .logomarca a{
    text-decoration: none;
    color: #eee;
}

.links-menu-desktop{
    text-align: right;
}

.links-menu-desktop ul{
    position: relative;
    list-style-type: none;
    margin: 10px;
}

.links-menu-desktop li{
    display: inline-block;
    font-size: 17px;
    font-weight: 300;
    padding: 0 8px;
}

.links-menu-desktop a{
    text-decoration: none;
    color: #fff;
}

.links-menu-desktop li:hover{
    font-size: 18.5px;
    font-weight: bold;
}

.links-menu-desktop a:hover{
    transition-duration: .4s;
    transition: .4s;
    border-bottom: 2px solid yellow;
}

.links-menu-mobile{
    display: none;
}


.btn-menu-mobile img{
    width: 37px;
    height: 30px;
    cursor: pointer;
}


section.tipos-roupas{
    background-color: #151515;
    color: #eee;
    height: 60px;
    width: 100%;
}

section.tipos-roupas .btn-loja ul{
    display: flex;
    justify-content: center;
    position: relative;
    list-style-type: none;
    margin: 10px;
    text-align: center;
}

section.tipos-roupas .btn-loja li{
    display: inline-block;
    font-size: 21px;
    font-weight: 400;
    padding: 0 8px;
    margin:  10px 50px;
}

section.tipos-roupas .btn-loja li p{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    font-weight: 400;
}

section.mostruario{
    background-color: #858585;
    padding: 40px 0;
    width: 100%;
}

section.mostruario span{
    font-size: 30px;
    font-weight: 700;
    padding-top: 10px;
    color: #eee;
}

section.mostruario .itens-loja{
    display: flex;
    flex-wrap: wrap;
}

div.item-single{
    padding: 10px;
}


div.item-single p{
    display: block;
    font-weight: 400;
    font-size: 17px;
    color: #f8f8ff;
    text-align: center;
}

div.item-single a > img{
    height: 300px;
    width: 22vw;
    border-radius: 20px;
    text-align: center;
}

div.item-single a{
    text-decoration: none;
}

div.item-single a > img:hover{
    width: 23vw;
    height: 330px;
    cursor: pointer;
}

div.item-single a > img.calca:hover{
    width: 23vw;
    height: 315px;
    cursor: pointer;
}

footer{
    height: 80px;
    background-color: #151515;
    display: flex;
    justify-content: center;
}


footer button.voltar-inicio{
    height: 28px;
    background-color: #aaa;
    border: none;
    border-radius: 20px;
    margin-right: 15px;
    padding: 0 10px;
    cursor: pointer;
    text-align: left;
}

footer button.voltar-inicio > a{
    color: #444;
    font-size: 16px;
    font-weight: 300;
    padding: 10px;
}

footer span{
    font-size: 15px;
    font-weight: 300;
    margin: 10px 8px;
    color: #eee;
}

footer span,
footer.voltar-inicio{
    display: inline-block;
    margin-top: 35px;
}

@media screen and (max-width: 800px){
    .links-menu-desktop{
        display: none;
    }

    .links-menu-mobile{
        display: block;
    }

    .btn-menu-mobile img{
        display: block;
    }

    .links-menu-mobile ul{
        display: block;
        list-style-type: none;
        position: absolute;
        width: 100%;
        top: 50px;
        right: 0;
        background-color: #222;
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

    .links-menu-mobile ul li{
        border-bottom: 2px solid #ddd;
        text-align: center;
        padding: 8px 2%;
    }

    .links-menu-mobile ul li:hover{
        background-color: #eee;
        color: #111;
    }

    .links-menu-mobile ul li a{
        color: #ddd;
        font-size: 17px;
        font-weight: 300;
        padding: 1rem;
        margin: 0 1rem;
    }

    #nav.active ul{
        height: calc(25vh - 50px);
        visibility: visible;
        overflow-y: auto;
    }
}